.pre-footer {
  background: $c-bg1;
  color: #fff;

  .container {
    display: flex;
    flex-flow: row wrap;
  }

  .widget-area {
    padding: 10px;
    font: 200 14px/1.7 $font-text;

    ul {
      padding: 0;

      li {
        list-style: none;
      }
    }

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }
    }

    &.contact-block {
      width: 33%;

      .contacts-list {
        margin-bottom: 15px;

        li {
          margin-bottom: 7px;
          padding-left: 30px;
          position: relative;

          .fa {
            position: absolute;
            top: 4px;
            left: 5px;
          }
        }
      }

      .social-links {
        li {
          display: inline-block;
          margin-right: 7px;

          a {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #fff;
            font-size: 23px;
            text-align: center;
            vertical-align: middle;
            transition: .3s;

            &:hover {
              background: #fff;
              color: $c-main-first;
              box-shadow: inset 0 0 3px #fff;
            }

            .fa {
              margin-right: 0;
            }
          }
        }
      }
    }

    &.info-block {
      width: 33%;

      .bottom-nav {
        ul {
          li {
            line-height: 1.2;
            margin-bottom: 2px;
          }
        }
      }
    }

    &.about-us-block {
      width: 34%;
    }

    .widget-area-title {
      text-transform: uppercase;
      position: relative;
      color: #fff;
      font: 400 16px/1.2 $font-title, sans-serif;
      padding-bottom: 15px;
      margin-bottom: 15px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 44px;
        height: 1px;
        background: #fff;
      }
    }
  }
}

.main-footer {
  background: $c-bg2;
  .container {
    padding: 5px 20px;
  }

  .copy {
    color: #fff;
    font: 300 12px/1.2 $font-text;

    a {
      text-decoration: none;
      color: inherit;
      transition: .3s;

      &:hover {
        color: $c-main-first;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .pre-footer .widget-area {
    &.contact-block,
    &.info-block {
      width: 50%;
    }

    &.about-us-block {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .pre-footer .widget-area {
    &.contact-block,
    &.info-block,
    &.about-us-block {
      width: 100%;
    }
  }
}