.main-header {
  border-bottom: 1px solid #c6c6c6;
  background: #fff;

  .container {
    padding: 5px 20px 0;
  }

  .main-nav-wrapper {
    padding: 20px 20px 12px;
    margin-top: 34px;
    text-align: center;
    float: right;

    .main-nav {
      ul {
        margin: 0;
        padding-left: 0;

        li {
          display: inline-block;

          &:not(:last-child) {
            margin-right: 20px;
          }

          &.current-menu-item {
            a {
              color: $c-main-first;

              &::after {
                transform: rotateY(0deg) translateY(16px);
              }
            }
          }
        }
      }

      a {
        position: relative;
        font: 400 19px/1.2 $font-title, sans-serif;
        color: $fc-text;
        text-decoration: none;
        transition: .3s;

        &::after {
          position: absolute;
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          bottom: 0;
          background: $c-main-first;
          transform: rotateY(90deg);
          transition: .3s;
        }

        &:hover {
          color: $c-main-first;

          &::after {
            transform: rotateY(0deg) translateY(16px);
          }
        }
      }
    }
  }

  .custom-logo-link {
    display: inline-block;
    max-width: 240px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:hover {
      opacity: .8;
    }
  }

  .contact-block {
    float: right;
    text-align: right;

    >a {
      text-decoration: none;
      display: block;

      .register-link {
        font: 400 17px/1.2 $font-text;
        color: $c-main-first;
        display: block;
        margin: 15px 0 15px;
      }

      .phone-number {
        font-size:17px;
        color: $fc-text;
        transition: .3s;
      }

      &:hover {
        .phone-number {
          color: $c-main-first;
        }
      }
    }
  }

  .mobile-menu-btn {
    clear: both;
    display: none;
    width: 32px;
    height: 32px;
    line-height: 32px;
    float: right;
    font-size: 32px;
    color: $c-main-first;
    text-align: center;
    vertical-align: middle;
    margin: 10px 0;

    .fa {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1100px) {
  .main-header {
    .main-nav-wrapper {
      margin-top: 0;
      float: none;
      clear: both;
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-top: 104px;
  }

  .main-header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;

    .container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .custom-logo-link {
      max-width: 125px;
    }

    .contact-block {
      >a {
        .register-link {
          margin: 0 0 5px;
          font-size: 14px;
        }
      }
    }

    .main-nav-wrapper {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      min-height: calc(100% - 100px);
      width: 100%;
      z-index: 9999;
      top: 104px;
      left: 100%;
      background: #eee;
      margin: 0;
      border-bottom: 1px solid #c6c6c6;
      transition: .3s;

      .main-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100%;

        ul {
          li {
            display: block;
            margin-bottom: 12px;

            &:not(:last-child) {
              margin-right: 0;
            }

            a {
              text-transform: uppercase;
              font-size: 18px;

              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

    .main-nav-wrapper.active {
      left: 0;
    }

    .mobile-menu-btn {
      display: block;
    }
  }
}

