.about-block{
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    h2 {
      margin-top: 0;
      line-height: 1.1;
    }

    .img-container {
      width: 31%;
      padding: 20px;

      .img-wrap {
        position: relative;
        max-width: 285px;
        max-height: 285px;
        border-radius: 50%;
        overflow: hidden;

        &::after {
          position: absolute;
          display: block;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          box-shadow: inset 0 0 0 10px rgba(168, 187, 170, .65);
        }
      }
    }

    .info-block {
      width: 69%;
    }
  }
}

@media screen and (max-width: 600px) {
  .about-block{
    .container {
      .img-container {
        max-width: 300px;
        width: 100%;
        margin: 0 auto 20px;
      }

      .info-block {
        width: 100%;
      }
    }
  }
}