section.all-projects {
  background: $c-bg3;

  .all-projects-list {
    margin: 0;
    padding: 0;

    .list-item {
      list-style: none;
      margin: 0;

      a {
        display: block;
        text-decoration: none;
        transition: .3s;

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        &:hover {
          opacity: 0.8;
        }
      }

      .title {
        font-size: 16px;
        color: $fc-text;
        text-align: center;
      }
    }
  }
}