.contact-us {
  .contacts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;

    >li {
      list-style: none;
      width: 31.33%;

      >a {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 20px 10px;
        position: relative;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
        border-top: 4px solid #e8e8e8;
        border-bottom: 4px solid #e8e8e8;
        transition: .3s;

        .fa {
          margin-right: 12px;
          line-height: 1;
          color: $c-main-first;

          &.fa-mobile {
            font-size: 60px;
          }

          &.fa-envelope-o {
            font-size: 44px;
          }

          &.fa-map-marker {
            font-size: 48px;
          }
        }

        &:hover {
          background: #eee;
        }
      }

      .line-decorated {
        font: 19px/1.3 $font-text, sans-serif;
        margin-bottom: 20px;
        color: $c-main-first;
      }

      &.phone,
      &.email {
        .line-decorated {
          margin-bottom: 0;
        }
      }

      .line-normal {
        font: 200 14px/1.3 $font-text, sans-serif;
      }

      span {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .contact-us {
    .contacts {
      >li {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;

        &:last-child {
          border-bottom: 0;

          >a {
            border-bottom: 0;
          }
        }

        >a {
          border-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-us {
    .contacts {
      >li {
        >a {
          padding: 20px 0;

          .fa.fa-envelope-o {
            font-size: 40px;
          }

          .line-decorated {
            font: 15px/1.3 $font-text, sans-serif;
          }
        }
      }
    }
  }
}