.faq-block {
  padding: 20px 30px;
  border: 1px solid $c-border;

  h3 {
    margin-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid $c-border;
  }

  >ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 15px 0;
      border-bottom: 1px solid $c-border;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    .question {
      display: block;
      margin-bottom: 10px;
      cursor: pointer;

      &::before {
        display: inline-block;
        content: "";
        width: 5px;
        height: 5px;
        margin-right: 7px;
        margin-bottom: 3px;
        border-radius: 50%;
        background: $c-main-first;
      }

      &:hover,
      &.active {
        color: $c-main-first;
      }
    }

    .answer {
      margin-top: 10px;
      display: none;
    }
  }
}