section.our-projects {
  background: #eee;

  .container {
    padding: 50px 20px;
  }

  .projects-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      >a {
        display: block;
        text-decoration: none;
        position: relative;
        overflow: hidden;

        .info {
          padding: 10px;
          top: 100%;
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, .7);
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          transition: .3s;
        }

        &:hover {
          .info {
            top: 0%;
          }
        }
      }

      h3 {
        font-size: 16px;
        color: $fc-text;
        text-align: center;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  .info {
    font-size: 18px;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;

    p {
      font-weight: 400;
      margin-bottom: 40px;
    }
  }

  .last-project {
    .wrap {
      overflow: hidden;
    }

    .computer {
      position: relative;
      width: 505px;
      height: 405px;
      background: url('../images/computer.png') no-repeat center center / 100%;
      margin: 0 auto;

      .screen {
        overflow: hidden;
        width: 92%;
        height: 66%;
        position: absolute;
        left: 4.2%;
        top: 4%;

        img {
          position: absolute;
          top: 0%;
          width: 100%;
          height: auto;
          transition: .8s;
        }

        &:hover {
          img {
            top: -300%;
          }
        }
      }
    }

    .technologies {
      margin: 0;
      padding: 0;
      font-size: 22px;
      color: $c-main-first;

      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 600px){
  section.our-projects {
    .last-project {
      .computer {
        width: 280px;
        height: 222px;
      }
    }
  }
}