section.portfolio {
  .slider {
    margin: 0;
    padding: 0;

    .slide,
    .slide li {
      list-style: none;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      .excerpt {
        text-align: center;
        font: italic 400 18px/1.7 Arial, sans-serif;
      }
    }
  }

  #bx-pager {
    margin: 0;
    padding: 0;
    text-align: center;

    >li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;

      .switch {
        font: 800 16px/1.2 $font-text, Arial;
        color: $fc-text-alt;
        text-align: center;
        text-decoration: none;

        &.active {
          color: $fc-link;
        }
      }
    }
  }
}