.review-block {
  .container {
    display: flex;
    flex-flow: row wrap;

    .reviewer-info {
      width: 25%;
      padding: 20px;
      border-right: 1px solid $c-border;
      text-align: center;

      .name {
        margin-top: 10px;
        font: 22px/1.2 $font-title, sans-serif;
        color: $c-main-first;
        margin-bottom: 12px;
      }

      .address {
        font-weight: 400;
      }

      .date {
        font-size: 12px;
        margin-bottom: 20px;
      }

      .rate {
        font-size: 30px;
        color: $c-main-first;

        .fa {
          margin-right: -6px;
        }
      }
    }

    .review {
      padding: 20px 20px 20px 40px;
      width: 75%;

      .title {
        text-transform: none;
        margin: 0 0 10px;
      }

      .sub-title {
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .review-block {
    .container {
      .reviewer-info,
      .review {
        width: 100%;
        border-right: none;
        padding-left: 0;
        padding-right: 0;
      }

      .reviewer-info {
        text-align: left;
        padding-top: 0;

        .name {
          margin-top: 0;
        }
      }

      .review {
        border-bottom: 1px solid $c-border;
      }
    }
  }
}