.sign-up-line {
  background: $c-main-first;

  .container {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .info-block {
    padding: 10px;
    display: flex;
    color: #fff;

    .fa {
      display: inline-block;
      font-size: 55px;
    }

    .title {
      text-transform: uppercase;
      color: #fff;
      margin: 0 0 3px;
    }
  }

  .sign-up-block {
    padding: 10px;
  }
}

@media screen and (max-width: 800px) {
  .sign-up-line {
    .sign-up-block,
    .info-block {
      width: 100%;
    }
  }
}