section.team {
  .container {
    max-width: 900px;
  }

  .team-member-list {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      .img-wrap {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .info-wrap {
        font-weight: 400;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;

        .social-list {
          padding: 0;

          li {
            display: inline-block;

            a {
              font-size: 28px;
              color: $c-main-first;
            }
          }
        }
      }
    }
  }
}

.bx-wrapper {
  box-shadow: none;

  .bx-controls-direction a {
    z-index: 9000;
  }
}

@media screen and (max-width: 400px){
  section.team {
    .team-member-list {
      li {
        list-style: none;

        .img-wrap {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
