section.technologies {
  header {
    padding: 70px 20px;
    background: url(../images/placeholder2.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;

    p {
      font: 22px/1.5 Open Sans, sans-serif;
      text-shadow: 1px 1px 1px #000;
      margin: 0 auto;
      max-width: 700px;
    }
  }
}