.testimonial-block {
  .container {
    display: flex;
    flex-flow: row wrap;

    .photo {
      width: 27%;
      padding: 20px;
      text-align: center;
    }

    .testimonial {
      padding: 20px;
      width: 73%;
      margin: 0 auto;

      .author {
        margin-top: 10px;
        font: 22px/1.2 $font-title, sans-serif;
        color: $c-main-first;
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .testimonial-block {
    .container {
      .photo {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
      }

      .testimonial {
        width: 100%;
      }
    }
  }
}