.why-pilates-block {
  .container {
    max-width: 840px;
  }

  .title {
    text-align: center;
    padding: 10px 5px;
    border-top: 1px solid $c-main-first;
    border-bottom: 1px solid $c-main-first;
  }

  .icon-list {
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: top;
    justify-content: space-around;

    .list-item {
      width: 25%;
      padding: 0 5px;
      text-align: center;
      list-style: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .why-pilates-block {
    .icon-list {
      .list-item {
        width: 50%;
        margin-bottom: 20px;
      }
    }
  }
}