.jad-slider-block {
  .slider {
    margin: 0;
    padding: 0;

    .slide {
      min-height: 400px;
      background: center center / cover;
      text-shadow: 1px 1px 1px #000;

      .slider-title {
        font: 300 45px/1.5 $font-title, sans-serif;
        text-align: center;
        color: #fff;
        padding: 20px 20px 70px;
        max-width: 1030px;
        margin: 0 auto;
      }

      .shadow-layer {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  .bx-wrapper {
    border: none;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .jad-slider-block {
    .slider {
      .slide {
        min-height: 200px;
        .slider-title {
          font: 300 32px/1.5 Montserrat,sans-serif;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .jad-slider-block {
    .slider {
      .slide {
        min-height: 150px;
        .slider-title {
          font: 300 22px/1.5 Montserrat,sans-serif;
        }
      }
    }
  }
}