/*
  cusomizing theme forms elements
*/
.contact-form {
  input,
  select {
    border-radius: 5px;
    border: 1px solid $c-main-first;
    height: 31px !important;
  }

  .field-text,
  .field-gap,
  .field-textarea,
  .field-select,
  .field-upload,
  .field-date,
  .field-time,
  .field-multiple,
  .field-rating,
  .field-table {
    margin-bottom: 8px !important;
  }

  sup {
    color: $fc-text !important;
  }

  textarea {
    width: 100% !important;
    height: 112px !important;
    line-height: 1.2 !important;
    border-radius: 5px;
    border: 1px solid $c-main-first;
  }

  label {
    font-size: 13px !important;
    margin-bottom: 3px !important;
    font-weight: 400 !important;
  }

  input[type = submit] {
    box-shadow: none;
    height: auto !important;
    margin: 0 auto;
    display: block;
    border: none;
    padding: 10px 20px !important;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    min-width: 170px;
    border-radius: 17px;
    color: #fff;
    font-weight: bold;
    background: $c-main-first !important;
    cursor: pointer;
    transition: .3s;

    &:hover {
      opacity: .8;
    }
  }
}