#mc_embed_signup    {
  .input-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    input[type=submit] {
      border: 2px solid #fff;
      border-radius: 7px;
      min-width: 0;
      padding: 7px 10px !important;
      background: $c-main-first;
      color: #fff;
      cursor: pointer;
      transition: .8s;

      &:hover {
        background: #fff;
        color: $c-main-first;
      }
    }

    input[type=email] {
      min-width: 300px;
      border: none;
      padding: 8px 7px 8px 34px;
      margin-right: 15px;
      border-radius: 7px;
    }

    .mc-field-group {
      position: relative;

      .fa-envelope {
        position: absolute;
        top: 9px;
        font-size: 14px;
        left: 10px;
        color: $c-main-first;
      }
    }

    .mce-responses,
    div.mce_inline_error {
      display: block;
      margin: 0 15px 5px 0;
      border-radius: 5px;
      background: #fff;
      position: absolute;
      font-weight: 300;
      bottom: 100%;
      border-radius: 5px;

      #mce-error-response {
        box-shadow: inset 0 0 6px 0px red;
        color: red;
      }

      #mce-success-response {
        color: green;
        padding: 7px;
        box-shadow: inset 0 0 6px 0px green;
      }
    }

    div.mce_inline_error {
      box-shadow: inset 0 0 6px 0px red;
      color: red;
    }
  }
}

@media screen and (max-width: 600px) {
  #mc_embed_signup {
    .input-wrap {
      display: block;

      input[type=submit] {
        display: block;
        width: 100%;
        margin: 0 auto;
      }

      input[type=email] {
        width: 100%;
        min-width: 0;
        margin-bottom: 10px;
      }
    }
  }
}