* {
  box-sizing: border-box;
}

body, html {
  font: 400 14px/1.5 $font-text, sans-serif;
  color: $fc-text;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $c-main-first;
  font-family: $font-title;
  font-weight: bold;
  text-transform: uppercase;
}

h1, .h1 {
  text-align: center;
  font-size: 30px;

  &.title_default {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

h2, .h2 {
  font-size: 28px;
}

h3, .h3 {
  text-transform: none;
  font-size: 21px;
  font-weight: 400;
}

h4, .h4 {
  font-size: 18px;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-size: 16px;
}

.fa {
  margin-right: 10px;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 100%;
  max-width: $max-width-default;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;

  &.btn_default {
    background: $c-main-first;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }

  &.btn_alt {
    font: bold 14px/1.2 $font-text, sans-serif;
    min-width: 170px;
    background: $c-main-first;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
  }

  &:hover {
    opacity: .7;
  }
}

.line {
  &.line-jumbotrone {
    width: 160px;
    height: 1px;
    margin: 0 auto;
    background: $c-main-first;
  }
}

.decorated {
  &.decorated_main-color {
    color: $c-main-first;
  }
}

.img-wrap img {
  width: 100%;
  height: auto;
  display: block;
}

.two-column-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;

  >div,
  >li {
    width: 50%;
    padding: 20px;
    overflow: hidden;
  }
}

.four-column-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;

  >div,
  >li {
    width: 25%;
    padding: 10px;
  }
}

/*
This need for fix troubles when using builder;
*/
.hotfix-row {
  margin-left: -15px;
  margin-right: -15px;
}
/*-------------------*/


/*
  Default view of the buiilder table
*/
.fw-table {
  border: 1px solid #dddddd;

  table {
    margin-bottom: 0 !important;
  }

  tr {
    &:nth-child(2n) {
      background-color: #f9f9f9;
    }

    &:first-child {
      td {
        border-top: none;
      }
    }

    td {
      &:last-child {
        padding-left: 0;
        padding-right: 0;
        font-size: 13px;
        min-width: 80px;
      }
    }
  }
}
/*************************************/

/*
  WYSIWYG
*/
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

@media screen and (max-width: 800px) {
  .two-column-wrapper>div {
    width: 100%;
    padding: 20px 0;
  }

  .four-column-wrapper>li {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  h1, .h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .four-column-wrapper>li {
    width: 100%;
  }
}