.sprite {
  background: url("../images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-mail {
  width: 54px;
  height: 37px;
  background-position: -10px -10px;
}

.sprite-mobile {
  width: 37px;
  height: 57px;
  background-position: -10px -67px;
}

.sprite-position {
  width: 49px;
  height: 57px;
  background-position: -10px -144px;
}