/**
  Theme Colors
*/
$c-main-first: #87c3bf;
$c-bg1: #626262;
$c-bg2: #a6a6a6;
/**
  Font colors
*/
$fc-text: #292929;
$fc-link: #00c6bb;
/**
  Defaults
*/
$font-title: Montserrat;
$font-text: Montserrat;

/**
  Border-color
*/

$c-border: #ededed;

$max-width-default: 1140px;